/***********************************/
/* 전체 레이아웃 관련 설정 */

/* 전체가로폭 설정 */
.wrapper {
	overflow: hidden;
	width: 1500px;
}

/* 메인메뉴 가로폭 230px-->180px */
.main-sidebar {
	width: 180px;
}

/*side-bar collapse 방지*/
@media (max-width: 767px) {
	.main-sidebar {
		padding-top: 50px;
	}
}
@media (max-width: 767px) {
	.main-sidebar {
		-webkit-transform: translate(0px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(0px, 0);
	}
}

.content-wrapper {
	margin-left: 180px;
}

.main-header .logo {
	width: 180px;
}

.main-header .navbar {
	margin-left: 180px;
}


.main-footer{
	margin-left: 180px;
}

/***********************************/
/* 전체 폰트  */

/* 컨텐츠영역 기본폰트 설정 */
.content {
	font-size: 12px !important;
}

/* 페이지 타이틀 폰트크기 */
.content-header > h1 {
	margin: 0;
	font-size: 20px;
}

/***********************************/
/* table관련 */

/* 테이블 기본값 재정의 */
.table {
	margin: 0px 0px 0px 0px;
}

/* 테이블 라인(border) 정의*/
thead > tr > th,
thead > tr > td,
tbody > tr > th,
tbody > tr > td,
tfoot > tr > th,
tfoot > tr > td{
	border: 1px solid #a2a5ab !important;
}

/* 테이블 td 세로중간정렬 */
tbody > tr > td,
tbody > tr > th,
tbody > tr > th,
tbody > tr > td,
tfoot > tr > th,
tfoot > tr > td {
    vertical-align: middle !important;
}

/* 테이블 해더 부분 배경색  정의*/
thead > tr > th,
tbody > tr > th,
tfoot > tr > th{
	background-color: #e2e6ef !important;
}

/* 좁은높이테이블 */
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th{
	padding: 2px 2px 2px 2px !important;
	height: 28px !important;
	vertical-align: middle !important;
}

.innerBox > table{
	border: 2px solid #e2e6ef !important;
	border-bottom: 1px solid #a2a5ab !important;
}

.trSelected {
	background-color: #fffa90 !important;
}



/***********************************/
/* form 관련 */

/* text, select textarea 재정의 */
input[type=text]{
	height:25px !important;
	padding: 0px 3px 0px 5px !important;
	font-size: 12px !important;
}


select{
	height:25px !important;
	padding: 0px 3px 0px 3px !important;
	font-size: 12px !important;
}

textarea{
	padding: 3px 3px 3px 5px !important;
	font-size: 12px !important;
}

input[type=radio] {
	margin: -4px 1px 0px 0px !important;
  	vertical-align: middle;
  	font-size: 12px !important;
}

.radio-group{
	padding: 1px 0px 1px 0px;
	height: 25px !important;
}

.radiobox{
	font-weight: normal;
	padding: 0px 10px 0px 0px !important;
	font-size: 12px;
	margin:3px 0px 1px 0px !important;
}


input[type=checkbox] {
	margin: -3px 0px 0px 0px !important;
	padding: 0px 10px 0px 0px !important;
  	vertical-align: middle;
  	font-size: 12px !important;
}

.checkbox-group{
	margin:0px 0px 0px 0x !important;
	padding: 0px 0px 0px 0px;
	height: 25px !important;
}

.checkbox{
	font-weight: normal;
	margin:4px 0px 0px 0px !important;
	padding: 0px 10px 0px 0px !important;
	font-size: 12px;
} 

/* 인풋박스를 텍스트 처럼 보이게 */
.readOnly{
	border:none;
	width: 100%;
	height: 100%;
}

/***********************************/
/* 영역관련  */

/* 영역박스  */
.sub-box{
	margin:0px 0px 0px 0px;
}

/* 영역타이틀  */
.sub-title{
	font-size: 14px;
	font-weight :800;
	margin:0px 0px 3px 0px;
	padding: 0px 0px 0px 0px; 
	height: 25px !important;
	display: table-cell;
	vertical-align: bottom;
}

/* 영역컨텐츠박스 */
.sub-body{
	padding: 0px 0px 0px 0px;
	margin:5px 0px 5px 0px;
}

/* 영역버튼박스 */
.sub-toolbox{
	margin: 0px 0px 0px 0px;
	height: 25px !important;
}

/* sub-box 안쪽에 작은 박스 */
.innerBox {
	padding: 0px 0px 5px 0px;
}


/* 텍스트 버튼과 같이 쓸때 세로 가운데 정렬 */
.text_middle {
	line-height: 25px;
}





/***********************************/
/* 카테고리관련 박스관련*/



/* 카테고리 타이틀 */
.cate-title{
	font-size: 14px;
	font-weight :800;
	margin:0px 0px 0px 0px;
	padding:2px 0px 0px 5px;
}


/* 상단 툴박스 */
.cate-toolbox-top{
	background-color: #e2e6ef !important;
	padding: 1px 1px 3px 1px;
	margin: 0px 0px 0px 0px;
}


/* 하단툴박스 */
.cate-toolbox-bottom{
	background-color: #e2e6ef !important;
	padding: 3px 1px 1px 1px;
	margin: 0px 0px 0px 0px;
}

/* 검색창 input */
.cate-search-input{
	height:30px !important;
	padding: 0px 3px 0px 5px !important;
	border-radius: 0px !important;
	font-size: 14px !important;
}

/* 카테고리 검색버튼 */
.btn-cate-search{
	width: 60px !important;
	height:25px !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	text-align: center !important;
}

/* 카테고리 툴박스 버튼 */
.btn-cate {
	width: 60px;
	height: 25px;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 5px !important;
	text-align: center !important;
}



/***********************************/
/* 버튼관련 */

/* 버튼 기본모양 */
.btn {
	border-radius: 2px !important;
	padding: 5px 10px 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}


/* 중요버튼(파란 보통크기: 저장, 수정) */
.btn-primary {	
	width: 100px !important;
	height:30px !important;
	text-align: center !important;
}

/* 회색버튼 가로 세로 사이즈가 없음 */
.btn-default {
	border-color: #adadad;
	text-align: center !important;
}

/* 취소 삭제용 버튼*/
.btn-sub {
	width: 60px !important;
	height:30px !important;
}


/* 달력용 버튼 */
.btn-date {
	padding: 0px 5px 0px 5px !important;
	height:23px !important;
}


/* 작은 사이즈 버튼*/
.btn-sm {
	height:20px !important;
	text-align: center !important;
	padding: 0px 5px 0px 5px !important;
	font-size: 11px !important;
}


/* 타이틀과 같이 사용되는 버튼*/
.btn-h25 {
	height:25px !important;
	text-align: center !important;
	vertical-align: middle;
	padding: 0px 5px 0px 5px !important;
}

/* 탭과 같이 사용되는 버튼 */
.btn-taps {
	position: absolute;
	top: 5px;
	right: 15px;
}

/* 로그아웃버튼 */
.btnLogout {
	border-radius: 4px !important;
	height: 28px;
	margin-top: 10px;
	padding: 0px 12px 0px 12px; 
	font-size: 12px;
	text-align: center !important;
}


/* 서브메뉴 */
.nav > li > a{
	padding: 2px 15px 5px 15px !important;
	/* margin: 0px 20px 0px 0px;  */

}


/***********************************/
/* tab 관련 */

.nav-tabs-custom{
	margin-top: 5px !important;
}

.tab-content{
	padding: 5px 1px 0px 1px !important;
}




/***********************************/
/* 여백 공백 관련 */

.right-nopadding{
	padding-right: 0px;
}

.left-nopadding{
	padding-left: 0px;
}


.both-nopadding{
	padding-right: 0px;
	padding-left: 0px;
}

.space{
	width: 100%;
	height: 10px;
}

.w10{width: 10px !important;}
.w20{width: 20px !important;}
.w30{width: 30px !important;}
.w40{width: 40px !important;}
.w50{width: 50px !important;}
.w60{width: 60px !important;}
.w70{width: 70px !important;}
.w80{width: 80px !important;}
.w90{width: 90px !important;}
.w100{width: 100px !important;}
.w110{width: 110px !important;}
.w120{width: 120px !important;}
.w140{width: 140px !important;}
.w160{width: 160px !important;}
.w180{width: 180px !important;}
.w200{width: 200px !important;}
.w220{width: 220px !important;}
.w240{width: 240px !important;}
.w250{width: 250px !important;}
.w260{width: 260px !important;}
.w280{width: 280px !important;}
.w300{width: 300px !important;}
.w320{width: 320px !important;}
.w340{width: 340px !important;}
.w360{width: 360px !important;}
.w380{width: 380px !important;}
.w400{width: 400px !important;}
.w420{width: 420px !important;}
.w430{width: 430px !important;}
.w440{width: 440px !important;}
.w460{width: 460px !important;}
.w480{width: 480px !important;}
.w500{width: 500px !important;}

.wfull{width: 100% !important;}
.hfull{height: 100% !important;}


.bordered{
	border: 1px solid #a2a5ab !important;
}

.scroll{
	overflow:scroll;
	white-space: nowrap;
	display: block;
}

.scroll_x{
	overflow-x:scroll;
	white-space: nowrap;
	display: block;
}

.scroll_y{
	overflow-y:scroll;
	white-space: nowrap;
	display: block;
}

.mouse{
	cursor: pointer;
}

.none {
	display:none
}





/* 팝업 새로운윈도우 */
.popup_page{
	background: #d2d6de;
}

.popup_page .content-wrapper {
	margin-left: 0px;
}

#pop_jobRequest{
	width: 1100px;
}

#pop_profile{
	width: 1100px;
}

/* 모달관련 */
.modal-sm {
	width: 430px;
}
.modal-body {
	background-color: #ffffff !important;
	font-size: 12px
}




/* 커리큘럼 테이블 */
#table_curriSubject .div_curriDesc{
	height: 118px;
	overflow-y: auto;
}

#table_curriSubject .div_up{
	clear: both;
	height: 94px;
}

#table_curriSubject .btn_add_div_up{
	clear: both;
	margin-top: 50px;
}

#table_curriSubject .div_down{
	clear: both;
	height: 25px;
	padding: 0px;
}

#table_curriSubject td{
	padding-left: 7px !important;
}

#table_curriSubject .tbl_curriStep{
	margin-bottom: 15px !important;
}

/* .modal-content {
  	border-radius: 6px !important;	
  	background-color: #d7dce2 !important;
}
 */
 
/* 
.modal-header {
  	background-color: #ecf0f5 !important;
}
.modal-footer {
  	background-color: #ecf0f5 !important;
}
 */


#rMenu {
	font-size: 12px;
	background-color: #F0F0F0;
	border:solid 1px #BFBFBF;
	position:absolute; 
	visibility:hidden; 
	padding: 4px 4px 4px 4px;
	width:150px;
}

#rMenu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#rMenu ul li{
	padding: 2px 2px 2px 12px;
	cursor: pointer;
	list-style: none outside none;
	
}
#rMenu .pop_menu:hover{
	background-color: #a6bdea;
}

.rMemu_line{
	height: 1px;
	background-color: #BFBFBF;
	margin: 3px 0px 3px 0px;
}



.first {margin-right: 5px;}



#notiBox {
	display: none;
	position: fixed;
	padding: 7px; 
	width: 100%;
	bottom: 0px;
	font-size: 13px;
	text-align: center; 
	z-index: 10000 !important;
	background-color: #FFE6B0;
}


#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.8;
	background: white;
	z-index: 99;
	text-align: center;
}

#loading > img {
	position: absolute;
	top: 50%;
	left: 50%;
}
